*{
    margin: 0;
    padding : 0;
    text-decoration: none;
    font-family: "Ubuntu" sans-serif;
    box-sizing: border-box;
}
.navbar{
    position:inherit;
    background-color:#f4f4f4;
    width: 100%;
    padding : 30px 0;
    top : 0;
    z-index: 999;
    transition: .0.5s linear;
}
.inner-width{
    max-width: 1300px;
    margin: auto;
    padding : 0 40px;
}
.navbar .inner-width{
    display : flex;
    align-items: center;
    justify-content:space-between;
}

.logo{
    transition: .1s linear;
    padding : 0 4%;
}
.logo img{
    width : 120px;
}

.menus-toggler{
    background: none;
    width : 23px;
    border : none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}
.menus-toggler span{    
    display : block;
    height : 3px;
    background: #000;
    margin : 6px 0;
    position: relative;
    transition: 0.3s linear;
}
.nav-mobile-overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    animation: fadeIn linear 0.01s;
    display: none;
}
.nav-menus a{
    color : #000;
    font-size: 18px;
    font-weight: 500;
    margin-left: 30px;
    transition: 0.5s linear;
}
.nav-menus a:active, :focus {
    font-weight: 700;
}
.nav-menus a:hover{
    color : var(--red);
}
.nav-icon{
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-left: -5%;
}
.nav-icon i{
    color : #000;
    font-size: 18px;
    margin-left: 15px;
    transition: 0.5s linear;
}
/* footer */
footer{ 
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    margin:10px;
    background: hsl(0, 0%, 96%);
    flex-wrap: wrap;
}
.footer__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px;
}
.footer .footer__wrapper .noi-dung.about{
    width: 40%;
}
/* Noi Dung About Us */
/* Cho pc*/
.noi-dung.about>#about-pc{
    font-size: 25px;
    position: relative;
    color:  rgb(61, 60, 60);
    font-weight: 500;
    margin-bottom: 15px;
}
.noi-dung.about>#about-pc:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
/* Cho mobile */
.noi-dung.about> #about-mobile{
    color: rgb(61, 60, 60);
    margin-bottom: 15px;
    display : none;
}
.noi-dung.about>#about-mobile{
    margin: 0px 0px 16px 0px;
    padding: 0px 0px 0px 15px;
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: var(--red);
    display : none;
}
/* */
.noi-dung.about p{
    color: var(--black);
}
/*Set For Social Network Icon Component*/
.social-icon{
    margin-top: 20px;
    display: flex;
}
.social-icon li {
    list-style: none;
}
.social-icon li a{
    color: #f4f4f4;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: rgb(61, 60, 60);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 20px;
}
.social-icon li a:hover{
    background: #f4f4f4;
    color: rgb(61, 60, 60);
}
.social-icon li a .fa{
    color: var(--white);
    font-size: 18px;
}
/*Setting Up Links*/
/* pc */
.noi-dung-links #links-pc{
    font-size: 25px;
    position: relative;
    color:  rgb(61, 60, 60);
    font-weight: 500;
    margin-bottom: 15px;
}
.noi-dung-links #links-pc::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
/* mobile */
.noi-dung-links #links-mobile{
    color: rgb(61, 60, 60);
    font-size: 25px;
    margin-bottom: 15px;
    display : none;
}
.noi-dung-links #links-mobile{
    margin: 0px 0px 16px 0px;
    padding: 0px 0px 0px 15px;
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: var(--red);
    display : none;
}
.noi-dung-links ul li{
    list-style: none
}
.noi-dung-links ul li a{
    color: rgb(16, 16, 16);
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.noi-dung-links ul li a:hover{
    color: rgb(232, 98, 98);
}


.copyright-text{
    padding : 50px 0px 0px 0px;
}

/*Set Up Contact Information*/
/* pc */
.noi-dung-contact #contact-pc{
    font-size: 25px;
    position: relative;
    color:  rgb(61, 60, 60);
    font-weight: 500;
    margin-bottom: 15px
}
.noi-dung-contact #contact-pc::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00
}
/* mobile */
.noi-dung-contact #contact-mobile{
    color: rgb(61, 60, 60);
    margin-bottom: 15px;
    display : none;
}
.noi-dung-contact #contact-mobile{
    margin: 0px 0px 16px 0px;
    padding: 0px 0px 0px 15px;
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: var(--red);
    display : none;
}
.contact .info{
    position: relative;
}
.noi-dung-contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.noi-dung-contact .info li span:nth-child(1) {
    color: rgb(61, 60, 60);
    font-size: 20px;
    margin-right: 10px;
}
.noi-dung-contact .info li span{
    color:var(--black);
}
.noi-dung-contact .info li a{
    color: rgb(61, 60, 60);
    text-decoration: none;
}
/* Set Up Email Subscribe */
.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    margin-top:16px;
    transition: all 200ms ease-in;
    cursor: pointer;
}
.btn--primary {
    background: fff;
    color: rgb(28, 27, 27);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 8px 24px;
}
.btn--primary:hover {
    background:rgb(20, 19, 19);
    color: #f4f4f4;
}
.btn--primary:active {
    background: var(--red);
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}
.form__field {
    width: 90%;
    background: var(--white);
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 8px 4px;
}

/*.copyright */
.copyright{
    display:inline-flex;
    height: 70px;
    padding: 2%;
    text-align: center;
}
.text-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* max-width: 768 */
@media (max-width: 768px) {
    .logo img {
        width: 100px;
        margin-left: 0;
    }
    .menus-toggler{
        display: block;
    }
    .nav-menus{
        position:fixed;
        height: 100vh;
        width: 100%;
        background-color: #f4f4f4;
        top : 0;
        right : -100%;
        max-width: 400px;
        padding: 80px 50px;
        transition: 1.5 linear;
    }
    .nav-menus a{
        display : block;
        font-size: 25x;
        margin : 30px 0;
    }
    .nav-menus.active{
        right: 0;
    }
    .nav-icon a{
        margin-left: -1%;
    }
    .menus-toggler.active span:nth-child(1){
        transform: rotate(-45deg);
        top : 4px;

    }
    .menus-toggler.active span:nth-child(2){
        opacity: 0;
    }
    .menus-toggler.active span:nth-child(3){
        transform: rotate(45deg);
        bottom: 14px;
        
    }
}
@media (max-width: 300px){
    .logo img {
        width: 88px;
        margin-left: -25%;
    }
    .nav-icon{
        margin-left: -25%;
    }

}
/* Responsive Cho Footer */
@media  (max-width: 768px){
    footer{
        margin-left: auto;
        padding: 10%;
            }
    footer .footer__wrapper{
        flex-direction: column;
    }
    footer .container .noi-dung{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container, .noi-dung.about, .links, .contact{
        width: 100%;
    }
    .noi-dung >#about-pc,.noi-dung-links #links-pc,#contact-pc{
        display : none;
    }
    .noi-dung.about>#about-pc::before,.noi-dung-links #links-pc::before{
        display : none;
    }
    .noi-dung.about>#about-mobile,.noi-dung-links #links-mobile, .noi-dung-contact #contact-mobile{
        font-size: 25px;
        display : block;
    }
}